<app-navbar></app-navbar>
<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort>

    <!-- Position Column -->
    <ng-container matColumnDef="idProveedor">
      <th mat-header-cell *matHeaderCellDef> No. </th>
      <td mat-cell *matCellDef="let element"> {{element.idProveedor}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="nombre">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
      <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
    </ng-container>

    <!-- Fecha Column -->
    <ng-container matColumnDef="fechaInscripcion">
      <th mat-header-cell *matHeaderCellDef> Fecha Inscripciòn </th>
      <td mat-cell *matCellDef="let element"> {{element.fechaInscripcion|date:'dd/MM/yyyy'}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="direccion">
      <th mat-header-cell *matHeaderCellDef> Direcciòn </th>
      <td mat-cell *matCellDef="let element"> {{element.direccion}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="telefono">
      <th mat-header-cell *matHeaderCellDef> Telefono </th>
      <td mat-cell *matCellDef="let element"> {{element.telefono}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef> Email </th>
      <td mat-cell *matCellDef="let element"> {{element.email}} </td>
    </ng-container>

    <ng-container matColumnDef="accion01">
      <th mat-header-cell *matHeaderCellDef> Update </th>
      <td mat-cell *matCellDef="let element">
        <button mat-raised-button color="primary"
                [routerLink]="['/nuevo-edit',element.idProveedor]">
          <span class="material-icons">update</span>
        </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="accion02">
      <th mat-header-cell *matHeaderCellDef> Eliminar </th>
      <td mat-cell *matCellDef="let element">
        <button mat-raised-button color="warn"
                (click)="openDialog(element.idProveedor)"><span class="material-icons">delete_sweep</span></button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                 showFirstLastButtons
                 aria-label="Select page of periodic elements">
  </mat-paginator>
</div>
